tenjin:
  persistence:
    size: "6Gi" # Size of the storage
    storageClassName: "standard" # Name of the storage class (adjust based on your cluster)
  service:
    type: NodePort
    port: 8080
elasticsearch:
  config:
    bootstrap_memory_lock: true
    ES_JAVA_OPTS: "-Xms512m -Xmx2G"
  persistence:
    accessModes: ReadWriteOnce
    storageClassName: standard
    size: 5Gi
postgres:
  persistence:
    size: 10Gi # Storage size
    accessModes: ReadWriteOnce # Access mode
    storageClassName: standard # StorageClass for dynamic provisioning
environment:
  POSTGRES_DB: tenjin
  POSTGRES_USER: yethi
  POSTGRES_PASSWORD: Yethi123
  DEFAULT_USER_PASSWORD: Welcome@2023
  TENJIN_HOST_NAME: http://localhost
  TENJIN_ALLOWED_URL: http://localhost
  ORACLE_USER: tenjin
  ORACLE_PASSWORD: tenjin

pgadmin:
  image: dpage/pgadmin4:8.5
  email: admin@yethi.in
  password: admin123

  persistence:
    accessMode: ReadWriteOnce
    size: 2Gi
    storageClassName: standard