apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-postgres-config
data:
  POSTGRES_DB: {{ .Values.environment.POSTGRES_DB}}
  POSTGRES_USER: {{ .Values.environment.POSTGRES_USER}}
  POSTGRES_PASSWORD: {{ .Values.environment.POSTGRES_PASSWORD}}